NEXT_PUBLIC_SUPABASE_URL=https://srwjlltynnmvdulxizxu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyd2psbHR5bm5tdmR1bHhpenh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3ODYyNzMsImV4cCI6MjA4ODM2MjI3M30.jRQCiiL126M751DcIhMmTjarQh9HULEwPEzaRGzRxjo